<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375478813152-s3iei6at6q8asokd2rpiglk4r80m0bi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375478813152-s3iei6at6q8asokd2rpiglk4r80m0bi0</string>
	<key>API_KEY</key>
	<string>AIzaSyBxmOrk-Q4GVjTA7zTy6QX9pjO2f_VEzMY</string>
	<key>GCM_SENDER_ID</key>
	<string>375478813152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avipogrow.NasiAdmin</string>
	<key>PROJECT_ID</key>
	<string>nasidriveadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>nasidriveadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375478813152:ios:17c6497e6ac7439ef4ab85</string>
	<key>DATABASE_URL</key>
	<string>https://nasidriveadmin.firebaseio.com</string>
</dict>
</plist>